[Unit]
Description=BadVPN-UDPGW 7100
Documentation=https://wildyqing.my.id
After=syslog.target network-online.target

[Service]
User=root
NoNewPrivileges=true
ExecStart=/etc/publproject/tuninstaller/bin/badvpn-udpgw --listen-addr 127.0.0.1:7100 --max-clients 100
Restart=on-failure
RestartPreventExitStatus=23
LimitNPROC=10000
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
