[Unit]
Description=Python WebServer
Documentation=https://wildyqing.my.id
After=network.target nss-lookup.target

[Service]
User=root
NoNewPrivileges=true
ExecStart=/etc/publproject/tuninstaller/bin/python /etc/publproject/tuninstaller/bin/webserver.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
